@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Code:wght@300&family=Inter:wght@200&family=Lobster&family=Londrina+Solid&family=Nunito+Sans:wght@400;900&family=Open+Sans:wght@800&family=Oswald&family=Playfair+Display:wght@400;500&family=Roboto:ital@0;1&family=Source+Sans+Pro:wght@200&display=swap");

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.introduction {
  animation: 0.8s ease-out 0s 1 slideInFromBottom;
}
.name {
  animation: 1s ease-out 0s 1 slideInFromBottom;
}
.occupation {
  animation: 1.3s ease-out 0s 1 slideInFromBottom;
}
.small-intro {
  animation: 1.5s ease-out 0s 1 slideInFromBottom;
}

* {
  margin: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0a192f;
}

/* navigation bar */
nav {
  padding-top: 10px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #0a192f;
}
.logo,
.middle,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 10%;
}
.logo:hover {
  cursor: pointer;
}
.middle {
  width: 33%;
}
.right {
  width: 33%;
  justify-content: space-evenly;
}
.number,
.logo,
.resume {
  color: #64ffda;
  font-family: "Fira Code", monospace;
  text-decoration: none;
}
.number:hover {
  cursor: pointer;
}
.work,
.about,
.contact {
  color: #ccd6f6;
  transition: 0.3s;
}
.work:hover,
.about:hover,
.contact:hover {
  cursor: pointer;
  color: #64ffda;
}
.left {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -2%;
  margin-top: 5px;
}
.resume {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 45px;
  height: 45px;
  margin-top: 10px;
}
.letter {
  font-size: 25px;
  color: #64ffda;
  position: relative;
  bottom: 37px;
  right: 1px;
  z-index: -1;
}
.resume {
  width: 103px;
  height: 41px;
  font-family: "Fira Code", monospace;
  transition: 0.3s;
  border: 1px solid #64ffda;
  border-radius: 10px;
}
.resume:hover {
  cursor: pointer;
  background-color: #64ffdb27;
}

/* links */
.links-outer {
  position: fixed;
  width: 40px;
  height: 350px;
  left: 3.5%;
  bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.icon {
  color: #ccd6f6;
  transition: 0.3s;
}
.icon:hover {
  color: #64ffda;
  margin-top: -5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.link {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.github,
.linkedin,
.facebook,
.email {
  width: 60%;
  height: 50%;
}
.line {
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -12px;
}
.line-inner {
  width: 2px;
  height: 100%;
  background-color: #ccd6f6;
}
/* home page */
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.intro {
  width: 878px;
  height: 310px;
  margin-top: 12%;
  margin-top: 300px;
}
.introduction {
  font-family: "Fira Code", monospace;
}

h5 {
  font-size: 16px;
  color: #64ffda;
  font-weight: 200;
}
.space {
  margin-right: 30px;
}
.l {
  transition: 0.3s;
  position: relative;
  bottom: 0px;
}
.l:hover {
  color: #64ffda;
  position: relative;
  bottom: 10px;
  cursor: auto;
}
.name {
  margin-top: 15px;
  font-size: 80px;
  color: #ccd6f6;
  font-weight: 600;
}
.occupation {
  font-size: 80px;
  color: #a8b2d1;
  font-weight: 600;
}
.small-intro {
  margin-top: 20px;
  font-size: 16px;
  color: #a8b2d1;
}

/* about */

.about-outer {
  width: 878px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 300px;
}
.about-left {
  width: 50%;
}
.about-me {
  color: #ccd6f6;
  font-size: 32px;
  margin-bottom: 50px;
}
.about-text {
  color: #a8b2d1;
}
.about-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-picture {
  width: 303px;
  height: 292px;
  background-image: url("../src/assets/Jaden\ \(3\).jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: none;
  border-radius: 10px;
}
.pic-border {
  width: 303px;
  height: 292px;
  border: 4px solid #64ffda;
  position: relative;
  left: 30px;
  top: 30px;
  border-radius: 10px;
  z-index: -1;
}

/* work */

.work-outer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.work-inner {
  width: 50%;
  height: 90%;
}
.work-header {
  color: white;
  font-size: 32px;
}
.euka-outer,
.sopi-outer,
.ambience-outer {
  width: 100%;
  height: 254px;
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
}
.euka-left {
  width: 50%;
  height: 100%;
  border-radius: 10px;
  background-image: url("../src/assets/Euka.PNG");
  background-size: cover;
  background-position: bottom;
  background-repeat: none;
  border-radius: 10px;
}
.euka-left:hover,
.sopi-right:hover,
.ambience-left:hover {
  cursor: pointer;
}
.euka-right {
  width: 50%;
  height: 100%;
}
.euka-project-name {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  color: #64ffda;
  font-size: 13px;
  font-family: "Fira Code", monospace;
}
.euka-name {
  width: 100%;
  height: 40px;
  color: #ccd6f6;
  font-size: 32px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.euka-box {
  width: 120%;
  height: 133px;
  background-color: #112240;
  color: #ccd6f6;
  padding: 20px;
  border-radius: 10px;
  margin-left: -79px;
}
.euka-languages-used {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  color: #ccd6f6;
  margin-top: 5px;
  font-family: "Fira Code", monospace;
}
.euka-links {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.euka-links-right {
  width: 90px;
  height: 100%;
  margin-right: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.euka-video,
.euka-github {
  width: 35px;
  height: 35px;
}
.euka-github {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-right: 10px;
}
.icon-link {
  width: 100%;
  height: 100%;
  color: #a8b2d1;
  transition: 0.3s;
}
.icon-link:hover {
  color: #64ffda;
}
.sopi-outer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
}
.sopi-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sopi-project-name {
  width: 100%;
  height: 20px;
  padding-left: 20px;
  color: #64ffda;
  font-size: 13px;
  font-family: "Fira Code", monospace;
}

.sopi-name {
  width: 100%;
  height: 40px;
  color: #ccd6f6;
  font-size: 32px;
  padding-left: 20px;
}
.sopi-box {
  width: 120%;
  height: 133px;
  background-color: #112240;
  color: #ccd6f6;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  margin-right: -79px;
}
.sopi-languages-used {
  width: 100%;
  height: 20px;
  padding-left: 20px;
  color: #ccd6f6;
  margin-top: 5px;
  font-family: "Fira Code", monospace;
}

.sopi-links {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sopi-links-right {
  width: 120px;
  height: 100%;
  margin-left: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sopi-video,
.sopi-github {
  width: 35px;
  height: 35px;
}
.sopi-github {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-left: 10px;
}
.icon-link {
  width: 100%;
  height: 100%;
  color: #a8b2d1;
  transition: 0.3s;
}
.icon-link:hover {
  color: #64ffda;
}

.sopi-right {
  width: 50%;
  height: 100%;
  border-radius: 10px;
  background-image: url("../src/assets/sopi.JPG");
  background-size: cover;
  background-position: bottom;
  background-repeat: none;
  border-radius: 10px;
}

.ambience-outer {
  display: flex;
  flex-wrap: wrap;
}
.ambience-right {
  width: 50%;
  height: 100%;
}
.ambience-left {
  width: 50%;
  height: 100%;
  border-radius: 10px;
  background-image: url("../src/assets/ambience2.JPG");
  background-size: cover;
  background-position: bottom;
  background-repeat: none;
  border-radius: 10px;
}
.ambience-project-name {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  color: #64ffda;
  font-size: 13px;
  font-family: "Fira Code", monospace;
}
.ambience-name {
  width: 100%;
  height: 40px;
  color: #ccd6f6;
  font-size: 32px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.ambience-box {
  width: 120%;
  height: 133px;
  background-color: #112240;
  color: #ccd6f6;
  padding: 20px;
  border-radius: 10px;
  margin-left: -79px;
}
.ambience-languages-used {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  color: #ccd6f6;
  margin-top: 5px;
  font-family: "Fira Code", monospace;
}
.ambience-links {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ambience-links-right {
  width: 90px;
  height: 100%;
  margin-right: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ambience-website,
.ambience-github {
  width: 35px;
  height: 35px;
}
.ambience-website {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-left: 13px;
}
.ambience-github {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-right: 10px;
}

.euka-links,
.sopi-links,
.ambience-links {
  margin-top: 10px;
}
.euka-video:hover,
.euka-github:hover,
.sopi-video:hover,
.sopi-website:hover,
.sopi-github:hover,
.ambience-website:hover,
.ambience-github:hover {
  transition: 0.3s;
  margin-top: -5px;
}

/* contact */

.contact-outer {
  margin-top: 300px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-inner {
  width: 50%;
  height: 60%;
}
.contact-header {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #64ffda;
  font-size: 20px;
  margin-top: 100px;
  font-family: "Fira Code", monospace;
}
.contact-sub-header {
  width: 100%;
  height: 60px;
  color: #ccd6f6;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
  font-weight: 700;
}
.contact-sub-text {
  width: 60%;
  height: 100px;
  color: #a8b2d1;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0px;
}
.contact-button {
  font-family: "Fira Code", monospace;
  font-size: 14px;
  color: #64ffda;
  border: 1px solid #64ffda;
  padding: 20px;
  border-radius: 5px;
  height: 60px;
  width: 120px;
  margin: 0 auto;
  margin-top: 60px;
  transition: 0.3s;
}
a:link {
  text-decoration: none !important;
}
.contact-button:hover {
  background-color: #64ffdb27;
  cursor: pointer;
}
.logo {
  position: relative;
  z-index: 200;
  transition: all 0.7s ease-in-out 0s;
}
.logo:hover {
  transform: rotate(150deg);
  transition: all 0.3s ease-in-out 0s;
}

@media screen and (max-width: 1100px) {
  /* nav */
  .middle {
    width: 20%;
  }
  .right {
    width: 45%;
  }
  /* home */
  .intro {
    width: 80%;
    margin-left: 100px;
  }
  .name,
  .occupation {
    font-size: 55px;
  }
  .small-intro {
    width: 700px;
    height: 30px;
    font-size: 13px;
  }
  /* about */
  .about-outer {
    /* background-color: white; */
    width: 70%;
    margin-top: 200px;
  }
  .about-me {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .about-text {
    font-size: 15px;
  }
  .about-picture {
    width: 200px;
    height: 200px;
    margin-top: -100px;
  }
  .pic-border {
    width: 200px;
    height: 200px;
  }
  /* work  */
  .work-outer {
    margin-top: 500px;
  }
  .work-inner {
    width: 70%;
  }
  .work-header {
    font-size: 25px;
  }
  .euka-box,
  .sopi-box,
  .ambience-box {
    font-size: 14px;
  }
  .euka-languages-used,
  .sopi-languages-used,
  .ambience-languages-used {
    font-size: 14px;
  }
  /* contact  */
  .contact-outer {
    margin-top: 500px;
  }

  .contact-header {
    font-size: 18px;
  }
  .contact-sub-header {
    font-size: 50px;
  }
  .contact-sub-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 700px) {
  /* nav  */
  .left {
    margin-left: 10px;
  }
  .middle {
    width: 10%;
  }
  .right {
    width: 60%;
  }
  /* about  */
  .about-outer {
    width: 500px;
    margin-left: 150px;
  }
  .about-left {
    width: 100%;
    height: 50%;
  }
  .about-text {
    font-size: 13px;
  }
  .about-right {
    width: 100%;
    height: 50%;
  }
  .about-picture {
    margin-top: 100px;
    border-radius: 5px;
  }
  /* work  */
  .work-outer {
    width: 750px;
    justify-content: flex-end;
  }
  .work-inner {
    width: 600px;
    margin-right: 50px;
  }
  .work-header {
    font-size: 25px;
  }
  .euka-box,
  .sopi-box,
  .ambience-box {
    font-size: 12px;
  }
  .euka-languages-used,
  .sopi-languages-used,
  .ambience-languages-used {
    font-size: 12px;
  }
  /* contact  */
  .contact-outer {
    width: 820px;
  }
  .contact-header {
    font-size: 18px;
  }
  .contact-sub-header {
    font-size: 50px;
  }
  .contact-sub-text {
    font-size: 18px;
  }
}
