* {
  margin: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #0a192f;
}

/* navigation bar */
nav {
  margin-top: 10px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
}
.logo,
.middle,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 10%;
}
.middle {
  width: 33%;
}
.right {
  width: 33%;
  justify-content: space-evenly;
}
.number,
.logo,
.resume {
  color: #64ffda;
}
.work,
.about,
.contact {
  color: #ccd6f6;
}
.logo,
.resume {
  border: 1px solid #64ffda;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
}
.logo {
  width: 46px;
  height: 41px;
  font-size: 24px;
}
.resume {
  width: 103px;
  height: 41px;
}

/* home page */
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.intro {
  width: 878px;
  height: 310px;
  /* border: 1px solid white; */
  margin-top: 12%;
  /* background-color: white; */
  margin-top: 300px;
}
h5 {
  font-size: 16px;
  color: #64ffda;
  font-weight: 200;
}
.name {
  margin-top: 15px;
  font-size: 80px;
  color: #ccd6f6;
  font-weight: 600;
}
.occupation {
  font-size: 80px;
  color: #a8b2d1;
  font-weight: 600;
}
.small-intro {
  margin-top: 20px;
  font-size: 16px;
  color: #a8b2d1;
}

/* about */

.about-outer {
  /* background-color: white; */
  width: 878px;
  height: 500px;
  margin: 0 auto;
  /* margin-top: 200px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 300px;
}
.about-left {
  width: 50%;
}
.about-me {
  color: #ccd6f6;
  font-size: 32px;
  margin-bottom: 50px;
}
.about-text {
  color: #a8b2d1;
}
.about-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-picture {
  width: 303px;
  height: 292px;
  background-image: url("../src/assets/Jaden\ \(3\).jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: none;
  border-radius: 10px;
  background-color: blue;
}
.pic-border {
  width: 303px;
  height: 292px;
  border: 4px solid #64ffda;
  position: relative;
  left: 30px;
  top: 30px;
  border-radius: 10px;
  z-index: -1;
}
